fastapi
uvicorn
sqlalchemy
aiosqlite
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
opencv-python-headless
pytesseract
qrcode
openai
python-dotenv
pyzbar
email-validator
thefuzz
python-Levenshtein
